<app-menue-bar></app-menue-bar>
<br><br><br>
<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-splitButton [label]="selectedFileName" [model]="fileopp" styleClass="p-button-rounded mr-2 mb-2"></p-splitButton>
    <p-toast></p-toast>
    <i class="p-toolbar-separator pi pi-bars mr-2" style="vertical-align: middle"></i>
  </div>
  <p-toast></p-toast>

  <!-- Create Directory Input and Button -->
  <div>
    <h3>Create New Directory</h3>
    <p>
      <span><b>Name:&nbsp;</b></span>
      <input type="text" [(ngModel)]="newDirectoryName" pInputText pTooltip="Enter Directory Name" required>
      <p-button icon="pi pi-check" label="Create" (click)="createDirectory()"></p-button>
    </p>
  </div>

  <div class="p-toolbar-group-end">
    <p-button icon="pi pi-search" class="mr-2" (click)="onSearchClick($event)"></p-button>

    <p-overlayPanel #searchPanel>
      <div class="p-fluid">
        <div class="p-field">
          <label for="searchInput">Search Files</label>
          <p-autoComplete [(ngModel)]="searchTerm" [suggestions]="filteredFiles" (completeMethod)="searchFiles($event)"
                          field="name" [minLength]="1" (onSelect)="onFileSelected($event)" id="searchInput"></p-autoComplete>
        </div>
      </div>
    </p-overlayPanel>

    <p-button icon="pi pi-calendar" styleClass="p-button-success mr-2"></p-button>
    <p-button icon="pi pi-times" styleClass="p-button-danger"></p-button>
  </div>
</p-toolbar>

<p-treeTable [value]="files" [columns]="cols" selectionMode="single" [(selection)]="selectedNode2" dataKey="id" [scrollable]="true" [tableStyle]="{'min-width':'50rem'}" (onNodeSelect)="onNodeSelect($event)">
  <ng-template pTemplate="caption">
    <div class="flex">
      <p-treeTableHeaderCheckbox></p-treeTableHeaderCheckbox>
      <span class="ml-2">Toggle All</span>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{ col.header }}
      </th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
    <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">
      <td *ngFor="let col of columns; let i = index">
        <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0"></p-treeTableToggler>
        <p-treeTableCheckbox [value]="rowNode" *ngIf="i === 0"></p-treeTableCheckbox>
        {{ rowData[col.field] }}
      </td>
      <td>
        <p-button icon="pi pi-search" styleClass="p-button-success" [style]="{ 'margin-right': '.5em' }"></p-button>
        <p-button label="Update Selected" icon="pi pi-pencil" (click)="displayUpdateDialog=true"></p-button>
        <p-button icon="pi pi-trash" severity="danger" (click)="deleteSelectedFile()" [style]="{ 'margin-left': '.5em' }"></p-button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div style="text-align:left">
      <p-button icon="pi pi-refresh" label="Reload" (click)="fetchFilesAndDirectories()"></p-button>
    </div>
  </ng-template>
</p-treeTable>


<p-dialog header="Update" [(visible)]="displayUpdateDialog" [modal]="true">
  <div class="p-fluid">
    <!-- Conditionally show file input if updating a file -->
    <div *ngIf="selectedNode && selectedNode.data.filetype !== 'directory'" class="p-field">
      <label for="file">New File (optional)</label>
      <input id="file" type="file" (change)="onFileChange($event)">
    </div>

    <!-- Conditionally show name input -->
    <div class="p-field">
      <label for="newName">New Name</label>
      <input id="newName" type="text" pInputText [(ngModel)]="updatedName">
    </div>

    <!-- Conditionally show parent input if updating a file -->
    <div *ngIf="selectedNode && selectedNode.data.filetype !== 'directory'" class="p-field">
      <label for="newParent">New Parent Directory (optional)</label>
      <input id="newParent" type="number" pInputText [(ngModel)]="updatedParentId">
    </div>
  </div>
  <p-footer>
    <p-button label="Update" icon="pi pi-check" (click)="updateSelectedItem()"></p-button>
    <p-button label="Cancel" icon="pi pi-times" (click)="displayUpdateDialog=false"></p-button>
  </p-footer>
</p-dialog>
