.form-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.form-container {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}
.form-row {
  margin-bottom: 1rem;
}
.field-checkbox {
  margin-right: 1rem;
}
.p-inputgroup-addon {
  background-color: #e0e0e0;
}
.p-inputtext {
  width: 100%;
}

.p-calendar {
  width: 100%;
}
.form-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.form-container {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}
.form-row {
  margin-bottom: 1rem;
}
.field-checkbox {
  margin-right: 1rem;
}
.p-inputgroup-addon {
  background-color: #e0e0e0;
}
.p-inputtext {
  width: 100%;
}

.p-calendar {
  width: 100%;
}
.form-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.form-container {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}
.form-row {
  margin-bottom: 1rem;
}
.field-checkbox {
  margin-right: 1rem;
}
.p-inputgroup-addon {
  background-color: #e0e0e0;
}
.p-inputtext {
  width: 100%;
}

.p-calendar {
  width: 100%;
}
.bouton {
  display: flex;
  justify-content: center;
  padding: 2px;
  border-radius: 60%;
}

.p-button {
  margin: 0 10px; /* Adjust the value to control the spacing between buttons */
}

